.formContact{
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea, .formName, .inputEmail {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: var(--navy-shadow);
    position: relative;
    z-index: 3;
    color: inherit;
    font-size: 1.5em;
    outline: none;
}

textarea{
    height: 5rem;
}

.form-group label{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.send{
    font-size: 1.2rem;
}

.send:hover{
    outline: none;
    box-shadow: 4px 4px 0 0 var(--green);
    transform: translate(-5px, -5px);
}

@media (max-width: 768px){
    .formContact{
        max-width: 100%;
    }
}