@media (min-width: 769px) {
    .button__Menu{
        display: none;
    }
    
}

button.button__Menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 15;
}
button .ham-box {
    display: inline-block;
    width: var(--hamburger-width);
    height: 24px;
}
button .ham-box-inner {
    margin-top: 20px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--green);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
}


.ham-box-inner::before,
.ham-box-inner::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--green);
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
}

.ham-box-inner::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: var(--ham-before);
}

.ham-box-inner::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: var(--ham-after);
}

.is-active .ham-box-inner {
    border-radius: var(--border-radius);
    transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(225deg);
}

.is-active .ham-box-inner::before {
    width: 100%;
    top: 0px;
    opacity: 0;
    transition: var(--ham-before-active);
}

.is-active .ham-box-inner::after {
    width: 100%;
    bottom: 0px;
    transform: rotate(-90deg);
    transition: var(--ham-after-active);
}
