nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    counter-reset: item 0;
    transition: var(--transition);
    color: var(--lightest-slate);
    background-color: rgba(10, 25, 47, 0.85);
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

nav.hideNav {
    top: -100px;
}

.listLinkMenu {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.itemMenuNav{
    transition: var(--transition);
    margin: 0px 10px;
    cursor: pointer;
    counter-increment: item 1;
    transition-duration: 1s;
}

.itemMenuNav::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
}

.itemMenuNav:hover {
    color: var(--green);
}


@media(min-width:769px) {
    .itemMenuNav{
        transform: translateY(-100px);
        font-size: var(--fz-xs);
    }
    .item-visibles{
        transform: translateY(0px);
        transition: transform .5s ease-out;
    }
}



@media (max-width: 768px) {
    nav.hideNav ul.menu-visible {
        transform: translateY(100px);
    }

    main{
        padding-left: 15px;
        padding-right: 15px;
    }

    section{
        padding-left: 15px;
    }

     .listLinkMenu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0 !important;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: var(--light-navy);
        box-shadow: -10px 0px 30px -15px var(--navy-shadow);
        z-index: 15;
        transform: translateX(100vw);
        visibility: hidden;
        transition: var(--transition);
    }

    .listLinkMenu.menu-visible {
        transform: translateX(0vw);
        visibility: visible;
        bottom: 0;
    }


    .Start, .about, .skills, .contact {
        font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
        padding: 3px 20px 20px;
    }

    .background-padding.is-active {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        backdrop-filter: blur(10px);
        transition: var(--transition);
        filter: blur(5px) brightness(0.7);
        pointer-events: auto !important;
        user-select: auto !important;
    }

}

